<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.pagehelper.mapper.UserMapper">
  <select id="selectAll" resultType="com.example.mybatis.pagehelper.entity.User">
    select *
    from t_user
  </select>
</mapper>