<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springframework.boot.security.database.mapper.SystemUserMapper">

    <select id="getByUserName"
            resultType="com.example.springframework.boot.security.database.entity.SystemUser">
      select * from SYSTEM_USER where flag=1 and username = #{username};
    </select>

    <select id="getById" resultType="com.example.springframework.boot.security.database.entity.SystemUser">
      select * from  SYSTEM_USER where id=#{id};
    </select>

    <select id="getRoleByUserId"
            resultType="com.example.springframework.boot.security.database.entity.SystemRole">
      select sr.* from system_user su
      inner join SYSTEM_USER_ROLE sur on sur.system_user_id=su.id
      inner join SYSTEM_ROLE sr on sr.id=sur.system_role_id
      where su.id=#{id}
      limit 1
    </select>

    <select id="getPermissonsByUserId"
            resultType="com.example.springframework.boot.security.database.entity.SystemPermission">
      select sp.* from system_user su
      inner join SYSTEM_USER_ROLE sur on sur.system_user_id=su.id
      inner join SYSTEM_ROLE sr on sr.id=sur.system_role_id
      inner join SYSTEM_ROLE_PERMISSION srp on srp.system_role_id=sr.id
      inner join SYSTEM_PERMISSION sp on sp.id=srp.system_permission_id
      where su.id=#{id}
    </select>
</mapper>