<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springframework.boot.security.database.mapper.SystemUserMapper">

    <select id="getByUserName"
            resultType="com.example.springframework.boot.security.database.entity.SystemUser">
      select * from SYSTEM_USER where flag=1 and username = #{username};
    </select>
</mapper>